# Run helper every time a Bluetooth device appears
# On remove actions, bluetoothd should go away by itself
ACTION=="add", SUBSYSTEM=="bluetooth", RUN+="/afs/inf.ed.ac.uk/user/s08/s0829961/SDP/sdp9/communication/libusb-0.1.12/ls/sbin/bluetoothd --udev"
ACTION=="change", SUBSYSTEM=="bluetooth", RUN+="/afs/inf.ed.ac.uk/user/s08/s0829961/SDP/sdp9/communication/libusb-0.1.12/ls/sbin/bluetoothd --udev"
